<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">General Applications Received</h5>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if current_entity.applications.pending.any? %>
            <% current_entity.applications.pending.each do |application| %>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">Application from <%= link_to application.band.name, application.band %>
                  <span class="pull-right">
                    <button id="<%= application.id %>" name="accept-gen-app" data-name="<%= application.band.name %>" data-id="<%= application.band.id %>" data-s-date="<%= application.start_time %>"
                      data-e-date="<%= application.end_time %>" type="button" class="btn btn-success">Accept</button>
                    <button id="<%= application.id %>" name="decline-gen-app" type="button" class="btn btn-danger">Deny</button>
                  </span>
                </h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </div>
            <% end %>
          <% else %>
            <h5>You have no applications!</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Event Applications</h5>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if current_entity.event_applications != [] %>
            <% current_entity.events.each do |event| %>
              <% event.applications.each do |application| %>
                <div class="list-group-item">
                  <h4 class="list-group-item-heading">Application for <%= link_to application.event.title, application.event %>
                    <span class="pull-right">
                      <button name="accept-event-app" id="<%= application.id %>" type="button" class="btn btn-success">Accept</button>
                      <button name="deny-event-app" id="<%= application.id %>" type="button" class="btn btn-danger">Deny</button>
                    </span>
                  </h4>
                  <p class="list-group-item-text">From <%= link_to application.entity.name, application.entity %></p>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <h5>You have no applications!</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Upcoming Events</h5>
      </div>
      <div class="panel-body">
        <% if current_entity.events.accepted.any? %>
          <% current_entity.events.accepted.each do |event| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading">Event: <%= link_to event.title, event %></h4>
              <p class="list-group-item-text"><%=  event.start_time == nil ? 'Will be set by company' : event.start_time %></p>
            </div>
          <% end %>
        <% else %>
          <h5>You have no events! Go schedule some bands in the search menu!</h5>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Events with Pending Invitations</h5>
      </div>
      <div class="panel-body">
        <% if current_entity.events.pending.any? %>
          <% current_entity.events.pending.each do |event| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><%= link_to event.title, event %></h4>
              <p class="list-group-item-text"><%= event.state %></p>
            </div>
          <% end %>
        <% else %>
          <h5>No Pending Events</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Public Events</h5>
      </div>
      <div class="panel-body">
        <% if current_entity.events.open.any? %>
          <% current_entity.events.open.each do |public_event| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><%= link_to public_event.title, public_event %></h4>
              <p class="list-group-item-text"><%=  public_event.state %></p>
            </div>
          <% end %>
        <% else %>
          <h5>You don't have any public events!</h5>
          <p>Go create one in your Manage Events tab</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Favorited Bands </h5>
      </div>
      <div class="panel-body">
        <% if current_entity.favorites.party.any? %>
          <% current_entity.favorites.party.each do |favorite| %>
            <div class="list-group-item">
              <h4 class="list-group-item-heading"><%= link_to favorite.band.name, favorite.band %></h4>
              <p class="list-group-item-text"><%=  favorite.created_at %></p>
            </div>
          <% end %>
        <% else %>
          <h5>You don't have any favorites yet! Don't be shy, get out there!</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
