<div class="col-md-12">
  <div class="panel panel-default panel-dash">
    <div class="panel-heading">
      <h5 class="panel-title">General Applications Received</h5>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <% if @pending_general_applications.any? %>
          <% @pending_general_applications.each do |application| %>
            <div class="list-group-item col-md-6">
              <h4 class="list-group-item-heading">Application from <%= link_to application.band.name, application.band %>
                <span class="pull-right">
                  <button id="<%= application.id %>" name="accept-gen-app" data-name="<%= application.band.name %>" data-id="<%= application.band.id %>" data-s-date="<%= application.start_time %>"
                    data-e-date="<%= application.end_time %>" type="button" class="btn btn-success">Accept</button>
                  <button id="<%= application.id %>" name="decline-gen-app" type="button" class="btn btn-danger">Deny</button>
                </span>
              </h4>
              <p class="list-group-item-text">Status: <%= application.status %></p>
            </div>
          <% end %>
        <% else %>
          <h5>You have no applications!</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel panel-default panel-dash">
    <div class="panel-heading">
      <h5 class="panel-title">Event Applications</h5>
    </div>
    <div class="panel-body">
      <div class="list-group">
        <% unless @pending_event_applications.empty? %>
          <%  @pending_event_applications.each do |application| %>
            <div class="list-group-item col-md-6">
              <h4 class="list-group-item-heading">Application for <%= link_to application.event.title, application.event %>
                <span class="pull-right">
                  <button name="accept-event-app" data-event-id="<%= application.event.id %>" id="<%= application.id %>" type="button" class="btn btn-success">Accept</button>
                  <button name="deny-event-app" id="<%= application.id %>" type="button" class="btn btn-danger">Deny</button>
                </span>
              </h4>
              <p class="list-group-item-text">From <%= link_to application.entity.name, application.entity %></p>
            </div>
          <% end %>
        <% else %>
          <h5>You have no applications!</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
