<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">General Applications Received</h5>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if current_entity.applications.any? %>
            <% current_entity.applications.pending.each do |application| %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Application from <%= application.band.name %>
                  <span class="pull-right">
                    <button id="<%= application.id %>" name="accept-gen-app" type="button" class="btn btn-success">Accept</button>
                    <button id="<%= application.id %>" name="decline-gen-app" type="button" class="btn btn-danger">Deny</button>
                  </span>
                </h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </a>
            <% end %>
          <% else %>
            <h5>You have no applications!</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Event Applications</h5>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if current_entity.event_applications.any? %>
            <% current_entity.event_applications.each do |application| %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Application from <%= application.band.name %>
                  <span class="pull-right">
                    <button type="button" class="btn btn-success">Accept</button>
                    <button type="button" class="btn btn-danger">Deny</button>
                  </span>
                </h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </a>
            <% end %>
          <% else %>
            <h5>You have no applications!</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Upcoming Events</h5>
      </div>
      <div class="panel-body">
        <% if current_entity.events.any? %>
          <% current_entity.events.accepted.each do |event| %>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Event: <%= event.title %></h4>
              <p class="list-group-item-text"><%=  event.start_time == nil ? 'nil' : event.start_time %></p>
            </a>
          <% end %>
        <% else %>
          <h5>You have no events! Go schedule some bands in the search menu!</h5>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Events with Pending Invitations</h5>
      </div>
      <div class="panel-body">
        <% if current_entity.events.pending.any? %>
          <% current_entity.events.pending.each do |e| %>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading"><%= e.title %></h4>
              <p class="list-group-item-text"><%= e.start_time %></p>
            </a>
          <% end %>
        <% else %>
          <h5>No Pending Events</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Promoted Bands</h5>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h5 class="panel-title">Favorited Bands </h5>
      </div>
      <div class="panel-body">
        <% if current_entity.favorites.any? %>
          <% current_entity.favorites.each do |favorite| %>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading"><%= favorite.party.name %></h4>
              <p class="list-group-item-text"><%=  favorite.created_at %></p>
            </a>
          <% end %>
        <% else %>
          <h5>You don't have any favorites yet! Don't be shy, get out there!</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
