<% if @current_user.entity === nil %>
  <div class="container">
    <div class="row text-center">
      <h1>You need to <a href="#" data-toggle="modal" data-target="#createBandModal">create your Band</a>!</h1>
    </div>
    <div class="row text-center">
      <%= image_tag('logo.png') %>
    </div>
    <div class="row text-center">
      <h2>Or, click the search option to look through some Companies</h2>
      <br>
      <a href="/parties/search"><i class="fa fa-search fa-4x">Company Listings</i></a>
    </div>
  </div>
<% else %>
<div class="container">
  <div class="row text-center">
    <div class="btn-group btn-group-justified" id="dashboard-buttons" role="group" aria-label="...">
      <a class="btn btn-default" href="#dashboard" data-toggle="tab" role="tab"><h1>My Dashboard</h1></a>
      <a class="btn btn-default" href="#entity" data-toggle="tab" role="tab"><h1>My Band & Info</h1></a>
      <a class="btn btn-default" href="#settings" data-toggle="tab" role="tab"><h1>Settings</h1></a>
    </div>
  </div>
  <div class="row">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="dashboard">
        <%= render 'bands/banddash' %>
      </div>


      <div role="tabpanel" class="tab-pane fade" id="entity">
        <%= render 'bands/editname' %>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="settings">
        <%= render 'bands/bandsettings' %>
      </div>
    </div>
  </div>

</div>
<% end %>

<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form id="change-password-modal-form" ata-fv-framework="bootstrap"
          data-fv-icon-valid="glyphicon glyphicon-ok"
          data-fv-icon-invalid="glyphicon glyphicon-remove"
          data-fv-icon-validating="glyphicon glyphicon-refresh">
          <div class="form-group">
            <label for="old-password">Old Password</label>
            <input type="password" name="oldpassword" class="form-control" id="old-password" placeholder="Password" data-fv-remote="true" data-fv-remote-delay="2000" data-fv-remote-url="/api/v1/users/<%= @user.id %>/password_confirmation" data-fv-remote-message="Incorrect Password">
          </div>
          <div class="form-group">
            <label for="new-password">New Password</label>
            <input data-fv-identical="true"
                data-fv-identical-field="confirm-new-password"
                data-fv-identical-message="The password and its confirm are not the same" type="password" name="new-password" class="form-control" id="new-password" data-fv-notempty placeholder="Password">
          </div>
          <div class="form-group">
            <label for="confirm-new-password">Confirm New Password</label>
            <input data-fv-identical="true" data-fv-identical-field="new-password"
                data-fv-identical-message="The password and its confirm are not the same" type="password" name="confirm-new-password" data-fv-notempty class="form-control" id="confirm-new-password" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="update-user-password" class="btn btn-primary">Update Password</button>
      </div>
    </div>
  </div>
</div>
