<% if @current_user.entity === nil %>
  <div class="container">
    <div class="row text-center">
      <h1>You need to <a href="#" data-toggle="modal" data-target="#createPartyModal">create your Company</a>!</h1>
    </div>
    <div class="row text-center">
      <%= image_tag('logo.png') %>
    </div>
    <div class="row text-center">
      <h2>Or, click the search option to look through some Bands</h2>
      <br>
      <a href="/bands/search"><i class="fa fa-search fa-4x">Bands</i></a>
    </div>
  </div>
<% else %>
<div class="container">
  <div class="row text-center">
    <div class="btn-group btn-group-justified" id="dashboard-buttons" role="group" aria-label="...">
      <a class="btn btn-default" href="#dashboard" data-toggle="tab" role="tab"><h2>My Dashboard</h2></a>
      <a class="btn btn-default" href="#entity" data-toggle="tab" role="tab"><h2>My Band & Info</h2></a>
      <a class="btn btn-default" href="#manage" data-toggle="tab" role="tab"><h2>Manage Events</h2></a>
      <a class="btn btn-default" href="#settings" data-toggle="tab" role="tab"><h2>Settings</h2></a>
    </div>
  </div>
  <div class="row">
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane fade in active" id="dashboard">
        <%= render 'parties/partydash' %>
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="manage">
        <%= render 'parties/manage' %>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="entity">
        <%= render 'parties/editname' %>
      </div>

      <div role="tabpanel" class="tab-pane fade" id="settings">
        <%= render 'parties/partysettings' %>
      </div>
    </div>
  </div>

</div>
<% end %>
