<% if @current_user.entity === nil %>
  <div class="container">
    <div class="row text-center">
      <h1>You need to <a href="#" data-toggle="modal" data-target="#createPartyModal">create your Company!</a>!</h1>
    </div>
    <div class="row text-center">
      <%= image_tag('logo.png') %>
    </div>
    <div class="row text-center">
      <h2>Or, click the search option to look through some Bands</h2>
      <br>
      <a href="/bands/search"><i class="fa fa-search fa-4x">Bands</i></a>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in" id="dashboard-party-events">
        <%= render 'parties/partydashevents' %>
      </div>
      <div role="tabpanel" class="tab-pane fade in active" id="dashboard-party-applications">
        <%= render 'parties/partydashapplication' %>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="dashboard-party-favorites">
        <%= render 'parties/partydashfavorites' %>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="dashboard-edit-party">
        <%= render 'parties/partydasheditparty' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="dashboard-edit-user">
        <%= render 'dashboard/dashedituser' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="dashboard-new-event">
        <%= render 'dashboard/newevent' %>
      </div>
    </div>
  </div>
</div>
<% end %>
