<div class="col-md-12">
  <div class="panel panel-default panel-dash">
    <div class="panel-heading">
      <h3 class="panel-title">Upcoming Events</h3>
    </div>
    <div class="panel-body">
      <% if current_entity.accepted_events.any? %>
        <% current_entity.accepted_events.each do |event| %>
        <div class="row">
          <div class="list-group-item col-md-6">
            <h4 class="list-group-item-heading">Event: <%= event.title %></h4>
            <p class="list-group-item-text"><%=  event.start_time == nil ? 'Will by set by the company/party.' : event.start_time.to_formatted_s(:long_ordinal) %></p>
          </div>
        </div>
        <% end %>
      <% else %>
        <h5>No upcoming events, yet.</h5>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="panel panel-default panel-dash">
    <div class="panel-heading">
      <h3 class="panel-title">Event Invitations</h3>
    </div>
    <div class="panel-body">
      <% if current_entity.invitations.any? %>
        <% current_entity.invitations.each do |ej| %>
          <div class="row">
            <div class="list-group-item col-md-6">
              <h4 class="list-group-item-heading">
                <%= ej.event.title %>
                <span class="pull-right">
                  <button id="<%= ej.event.id %>" name="accept-event" type="button" class="btn btn-success">Accept</button>
                  <button id="<%= ej.event.id %>" name="decline-event" type="button" class="btn btn-danger">Deny</button>
                </span>
              </h4>
              <p class="list-group-item-text"><%= ej.event.start_time.to_formatted_s(:long_ordinal) %></p>
            </div>
          </div>
        <% end %>
      <% else %>
          <h5>No Invitations, yet.</h5>
      <% end %>
    </div>
  </div>
</div>
