<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h3 class="panel-title">Applications Sent Out</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if current_entity.applications.pending.any? %>
            <% current_entity.applications.pending.each do |application| %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Application for <%= application.party.name %></h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </a>
            <% end %>
          <% else %>
            <h5>No Declined Applications</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h3 class="panel-title">Denied Applications</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if current_entity.applications.declined.any? %>
            <% current_entity.applications.declined.each do |application| %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Application for <%= application.party.name %></h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </a>
            <% end %>
          <% else %>
            <h5>No Declined Applications</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h3 class="panel-title">Pending Event Applications</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if current_entity.event_joiners.application.any? %>
            <% current_entity.event_joiners.application.each do |application| %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Application for <%= application.event.title %></h4>
                <p class="list-group-item-text">
                  <% if application.status %>
                  Application Submitted
                  <% end %>
                </p>
              </a>
            <% end %>
          <% else %>
            <h5>No Declined Applications</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h3 class="panel-title">Denied Event Applications</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if current_entity.event_joiners.denied.any? %>
            <% current_entity.event_joiners.denied.each do |application| %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Application for <%= application.event.title %></h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </a>
            <% end %>
          <% else %>
            <h5>No Declined Applications</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Events</h3>
      </div>
      <div class="panel-body">
        <% current_entity.accepted_events.each do |event| %>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Event: <%= event.title %></h4>
            <p class="list-group-item-text"><%=  event.start_time == nil ? 'Will by set by the company/party.' : event.start_time %></p>
          </a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h3 class="panel-title">Event Invitations</h3>
      </div>
      <div class="panel-body">
        <% if current_entity.invitations.any? %>
          <% current_entity.invitations.each do |ej| %>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading"><%= ej.event.title %>
                <span class="pull-right">
                  <button id="<%= ej.event.id %>" name="accept-event" type="button" class="btn btn-success">Accept</button>
                  <button id="<%= ej.event.id %>" name="decline-event" type="button" class="btn btn-danger">Deny</button>
                </span>
              </h4>
              <p class="list-group-item-text"><%= ej.event.start_time %></p>
            </a>
          <% end %>
        <% else %>
            <h5>No Invitations :(</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h3 class="panel-title">Promote Band</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading">
        <h3 class="panel-title">Favorited Companies</h3>
      </div>
      <div class="panel-body">
        <% current_entity.favorites.each do |favorite| %>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading"><%= favorite.party.name %></h4>
            <p class="list-group-item-text"><%=  favorite.created_at %></p>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
