  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading text-center">
        <h3 class="panel-title">General Applications Sent Out</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if @pending_applications.any? %>
            <% @pending_applications.each do |application| %>
              <div class="list-group-item four-panel-page">
                <h4 class="list-group-item-heading">Application for <%= link_to application.party.name, application.party %></h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </div>
            <% end %>
          <% else %>
            <div class="list-group-item">
              <h3>No Pending Applications</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Denied General Applications</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if @declined_applications.any? %>
            <% @declined_applications.each do |application| %>
              <div class="list-group-item four-panel-page">
                <h4 class="list-group-item-heading">Application for <%= link_to application.party.name, application.party %></h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </div>
            <% end %>
          <% else %>
            <div class="list-group-item">
              <h3>No Declined Applications</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Pending Event Applications</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if @entity_event_applications.any? %>
            <% @entity_event_applications.each do |application| %>
              <div class="list-group-item four-panel-page">
                <h4 class="list-group-item-heading">Application for <%= link_to application.event.title, application.event %></h4>
                <p class="list-group-item-text">
                  <% if application.status %>
                  Application Submitted
                  <% end %>
                </p>
              </div>
            <% end %>
          <% else %>
          <div class="list-group-item">
            <h3>No Pending Event Applications</h3>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-dash">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Denied Event Applications</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if @denied_entity_event_applications.any? %>
            <% @denied_entity_event_applications.each do |application| %>
              <div class="list-group-item four-panel-page">
                <h4 class="list-group-item-heading">Application for <%= link_to application.event.title, application.event %></h4>
                <p class="list-group-item-text"><%= application.status %></p>
              </div>
            <% end %>
          <% else %>
            <div class="list-group-item">
              <h3>No Declined Applications</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
